@import './variables';
@import './mixins';


.post-card {
    cursor: pointer;
    @include flexCenter(column);
    justify-content: flex-start;

    width: 400px;
    height: 300px;
    padding: 10px;
    // @include flexCenter(column);
    background-color: $fourth-bg-color;
    text-overflow: ellipsis; 
    overflow: hidden; 
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    p {
        word-wrap: break-word;
    }
    
}